streamlit==1.28.0
PyPDF2==3.0.1
sentence-transformers==2.2.2
faiss-cpu==1.7.4
pytesseract==0.3.10
pdf2image==1.17.0
pillow==10.0.0
gTTS==2.3.2
numpy==1.26.4
torch==2.2.0
speechrecognition==3.8.1
pyaudio==0.2.14
requests==2.31.0
streamlit-webrtc==0.45.0
av==10.0.0
aiortc==1.5.0
